body{
  background-color: skyblue;
}
h2{
  font-weight: bold;
  color: brown;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: 80px;
  }
  th, td {
    background-color: goldenrod;
  }